<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Don't forget to copy your JDBC driver to the lib/ directory! -->

		<!-- Settings for a local HSQL database, wrapped by P6Spy, see spy.properties -->
		<property name="dialect">net.sf.hibernate.dialect.HSQLDialect</property>
        <property name="connection.driver_class">com.p6spy.engine.spy.P6SpyDriver</property>
		<property name="connection.url">jdbc:hsqldb:test</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>

		<!-- Use the Hibernate built-in pool for tests. -->
		<property name="connection.pool_size">1</property>

		<!-- Use EHCache. -->
		<property name="cache.provider_class">net.sf.hibernate.cache.EhCacheProvider</property>
		<property name="cache.use_query_cache">false</property>

		<!-- CaveatEmptor mapping files. -->
		<mapping resource="org/hibernate/auction/persistence/hibernate/meta/User.hbm.xml"/>
		<mapping resource="org/hibernate/auction/persistence/hibernate/meta/Item.hbm.xml"/>
		<mapping resource="org/hibernate/auction/persistence/hibernate/meta/Category.hbm.xml"/>
		<mapping resource="org/hibernate/auction/persistence/hibernate/meta/Bid.hbm.xml"/>
		<mapping resource="org/hibernate/auction/persistence/hibernate/meta/BillingDetails.hbm.xml"/>
		<mapping resource="org/hibernate/auction/persistence/hibernate/meta/Comment.hbm.xml"/>

        <!-- Settings for the second-level cache -->
        <class-cache class="org.hibernate.auction.model.Item" usage="read-write"/>
        <class-cache class="org.hibernate.auction.model.Category" usage="read-write"/>
        <class-cache class="org.hibernate.auction.model.User" usage="read-write"/>
        <class-cache class="org.hibernate.auction.model.Bid" usage="read-only"/>
        <class-cache class="org.hibernate.auction.model.BillingDetails" usage="read-write"/>
        <collection-cache collection="org.hibernate.auction.model.Category.items" usage="read-write"/>
        <collection-cache collection="org.hibernate.auction.model.Item.bids" usage="read-write"/>

	</session-factory>

</hibernate-configuration>